<a href="https://colab.research.google.com/github/Cpt0988/Ml-class/blob/main/Project/project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


General Readme on Projects
The data file
https://raw.githubusercontent.com/zacharski/ml-class/master/data/bach.zip

Note that the data file is a compressed zip file. You will need to download it, unzip it, and then load it into a Pandas DataFrame. I wanted to give you a bit of practice in getting data in a variety of formats.

Chords
A chord in music is a set of notes played together. For example, if you play the notes C, E, and G together they would form a C major chord. If you played A, C, and E together, they would form an A minor chord. Your task is to predict the chord based on the notes played and several other features. The chord_label column is what you are predicting. When you see a capital M in that column, as in C_M that stands for major (in this case C major) and a small m represents minor, so G_m is G minor.

Bach Chorales
The dataset is of Johann Sebastian Bach's chorales and cantatas. Bach was very prolific and over 1,000 of his works still survive (some believe he composed over 10,000 pieces). Because of this, scholars have associated a identification number to each existing composition. This number is called BWV which stands for Bach-Werke-Verzeichnis. The choral_ID column in the dataset refers to this number. For example, the first row of the dataset and a choral_ID of 000106b_, which stands for BWV106. If you did a Google search on this you would see it refers to the cantata: Gottes Zeit ist die allerbeste Zeit. You should not use the column choral_ID. The next column in the dataset is event_number which refers to a unique position in that composition. I am not sure whether you would get better accuracy by dropping the column or including it. . Starting with the next column are the 12 notes of a Western Scale: C, C#, D, D#, E, F, F#, G, G#, A, A#, B. A yes in the column indicates that that note is currently being played during the specific event. So the first row of the data indicates that a C, F, and A are being played. The bass column represents what note is being played in the bass and the meter column represents the meter (how many beats per measure).

Optional Bonus XP
If you want to try to obtain additional xp you need to divide the data intro training and testing using the following

from sklearn.model_selection import train_test_split
bach_train_features, bach_test_features, bach_train_labels, bach_test_labels = train_test_split(bFeatures, bLabels, test_size = 0.2, random_state=42)
this will give everyone the same test set (random_state=42 is what enables this)

Bonus:

bonus	criteria
xp = (accuracy - 74) * 2	accuracy between 74-80. The formula is
xp = 15+ (accuracy - 80)	better than .8 accuracy
20	third best in class
25	second best in class
30	first in class

In [1]:
!wget https://raw.githubusercontent.com/zacharski/ml-class/master/data/bach.zip
!unzip bach.zip
import pandas as pd
bach=pd.read_csv('bach.csv')
 
bach

--2023-03-12 19:56:52--  https://raw.githubusercontent.com/zacharski/ml-class/master/data/bach.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41761 (41K) [application/zip]
Saving to: ‘bach.zip’

bach.zip            100%[===================>]  40.78K  --.-KB/s    in 0.003s

2023-03-12 19:56:52 (12.6 MB/s) - ‘bach.zip’ saved [41761/41761]

Archive:  bach.zip
  inflating: bach.csv

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label
0,000106b_,1,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,3,F_M
1,000106b_,2,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,E,5,C_M
2,000106b_,3,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,E,2,C_M
3,000106b_,4,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,3,F_M
4,000106b_,5,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,2,F_M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,NO,NO,YES,NO,NO,NO,NO,YES,NO,NO,YES,NO,G,4,G_m
5661,015505b_,106,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,NO,NO,G,3,G_m
5662,015505b_,107,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,C,5,C_M
5663,015505b_,108,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,YES,NO,C,3,C_M
5664,015505b_,109,NO,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,4,F_M

In [23]:
featureName= list(bach.columns)
featureName.remove('choral_ID')
featureName.remove('event_number')
#featureName.remove('meter')
featureName.remove('chord_label')
featureName.remove('bass')

# convert to number vaule 
bf = bach[['C','C#','D','D#','E','F','F#','G','G#','A','A#','B','meter']].replace({'NO':0, 'YES':1})
bl= bach[['chord_label']].apply(lambda x: pd.Categorical(x).codes)



# Split data into train and test sets
from sklearn.model_selection import train_test_split
bach_train_features, bach_test_features, bach_train_labels, bach_test_labels = train_test_split(bf, bl, test_size = 0.2, random_state=42)


from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy',max_depth=100)
clf.fit(bach_train_features, bach_train_labels)

# Generate predictions on the test set
bach_test_pred = clf.predict(bach_test_features)

# Calculate accuracy of the model on the test set

from sklearn.metrics import accuracy_score
predictions = clf.predict( bach_test_features)
accuracy_score(bach_test_labels, predictions)

0.7122683142100618

In [29]:
from sklearn.model_selection import cross_val_score
play=cross_val_score(clf, bach_train_features, bach_train_labels, cv=10)
play

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

array([0.74449339, 0.68942731, 0.72406181, 0.70860927, 0.72626932,
       0.73730684, 0.75717439, 0.71081678, 0.7218543 , 0.74392936])